{% extends 'base.html' %}
{% block title %}New post{% endblock title %}

{% block content %}
	<div class="ui semantic">
	<form method="POST" action=""  class="ui form"  enctype="multipart/form-data">
		{% csrf_token %}
		{{ form }}
		<br>
		<button class="ui green button">Submit</button>
	</form>

</div>
<br>
<hr>
<div class="ho">
{% for post in posts %}
<div class="ui link cards">
  <div class="card">
   	{% if post.image %} 
	    <div class="image">
	      
       <img src="{{ post.image.url }}">
	    </div>
	 {% else %}
		   <img class="ui fluid image" src="../../../media/default_image.png">
	 {% endif %}
    <div class="content">
     <a href="{% url 'detail-post' post.pk%}"> <div class="header">{{ post.title | truncatechars:20 }}</div></a>
      <div class="meta">
        <a href="{% url 'profiles:profile-detail' post.pk%}">{{ post.author }}</a>
      </div>
      <div class="description">
        
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
        {{ post.created }}
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
    </div>
  </div>
 
</div>

{% endfor %}
</div>
<!-- <div class="ui three column grid">
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="/images/avatar/large/daniel.jpg">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="/images/avatar/large/daniel.jpg">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="ui fluid card">
      <div class="image">
        <img src="/images/avatar/large/daniel.jpg">
      </div>
      <div class="content">
        <a class="header">Daniel Louise</a>
      </div>
    </div>
  </div>
 
  
</div>

 -->



{% endblock content %}